@layer components {
  .card {
    background-color: var(--palette-white);
    border: 2px solid var(--palette-black);

    border-radius: 10px;
    color: var(--color-text);

    & .content,
    & header,
    & footer {
      padding: 10px;
    }

    & header {
      border-bottom: 1px solid var(--palette-black);
      & * {
        margin: 0;
      }
    }

    & footer {
      border-top: 1px solid var(--palette-black);
      text-align: right;
    }
  }

  .alert {
    background-color: var(--palette-red);
    color: var(--palette-white);
    padding: var(--spacing-xsmall) var(--spacing-small);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-medium);
  }

  .row {
    &:has(input:focus) label {
      animation: bold-focus 0.3s forwards 0s;
    }
  }
}
