@layer layout {
  header#site-header {
    @media only screen and (min-width: 1000px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & a {
      text-decoration: none;
      color: var(--color-text-light);
    }
    & h1 a {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: var(--spacing-small);

      & img {
        width: 50px;
      }
    }

    nav {
      display: flex;
      gap: var(--spacing-small);
    }
  }

  .wrapper {
    --main-width: 1430px;
    --action-width: 400px;
    width: 100%;

    @media only screen and (min-width: 1000px) {
      display: flex;
      margin: 0 auto;
      height: 100vh;
      max-width: var(--main-width);
    }

    & .column-content,
    & .action {
      padding: var(--spacing-medium);
    }

    & .action {
      width: var(--action-width);
    }

    & .column-content {
      background-color: #122762;
      color: var(--palette-white);
      position: relative;
      order: 1;
      @media only screen and (min-width: 1000px) {
        width: calc(100% - var(--action-width));
      }

      @media only screen and (min-width: 1000px) {
        &:after {
          content: '';
          width: 100vw;
          background-color: inherit;
          height: 100vh;
          right: 0;
          left: 100%;
          top: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }
  }
}
